/* .my-image{
background-image: url(../../Images/pexels-roberto-nickson-2478248.jpg) ;
} */


.my-hover:hover{
    /* transform: scale(1.005); */
  border:none ;
  outline: none;
  /* border-bottom: 2px solid rgb(119, 235, 255); */
  /* cursor: pointer; */
}
/* .my-link{
  color: rgb(22, 0, 51);
  font-size: small;
} */
.my-link:hover{
  color: rgb(14, 78, 255);
  font-size: small;
}

.bg-titlebar{
  background-color: rgb(233, 233, 233);
  border-bottom: 1px solid rgb(1, 0, 37);
  color: rgb(8, 0, 37);

}
.bg-titlebar:hover{
  background-color: rgba(45, 255, 255, 0.616);
  color: rgb(3, 0, 22);
}
.bg-titlebar-head{

}
.genaral{
  background-color: rgba(255, 199, 45, 0.616);

}