/* .my-image{
background-image: url(../../Images/pexels-roberto-nickson-2478248.jpg) ;
} */


.my-hover:hover{
    /* transform: scale(1.005); */
  border:none ;
  outline: none;
  /* border-bottom: 2px solid rgb(119, 235, 255); */
  /* cursor: pointer; */
}
/* .my-link{
  color: rgb(22, 0, 51);
  font-size: small;
} */
.my-link:hover{
  color: rgb(14, 78, 255);
  font-size: small;
}